<div class="container mx-auto   p-5">
    <h1 class="text-center bg-main mt-3">CONTACT SECTION</h1>
    <div class="icon mb-4 text-center">
     <i class="fa-solid fa-star  ms-3 me-3 bg-main"></i>
    </div>

    <div class="form-floating mb-3  w-75 mx-auto">
        <input type="email" class="form-control text-input border-0 border-bottom shadow-sm" id="floatingInput" placeholder="userName" >
        <label for="floatingInput" class="text-input">userName:</label>
      </div>

      <div class="form-floating mb-3  w-75 mx-auto">
        <input type="email" class="form-control text-input border-0 border-bottom shadow-sm" id="floatingInput" placeholder="userAge" >
        <label for="floatingInput" class="text-input">userAge:</label>
      </div>

      <div class="form-floating mb-3  w-75 mx-auto">
        <input type="email" class="form-control text-input border-0 border-bottom shadow-sm" id="floatingInput" placeholder="userEmail" >
        <label for="floatingInput" class="text-input">userEmail:</label>
      </div>

      <div class="form-floating mb-3  w-75 mx-auto">
        <input type="email" class="form-control text-input border-0 border-bottom shadow-sm" id="floatingInput" placeholder="userPassword" >
        <label for="floatingInput" class="text-input">userPassword:</label>
      </div>
      
      <div class="mb-3  w-75 mx-auto" >
  <button class="btn-bg p-2 btn   rounded-2 text-white">Send Message</button>
      </div>
     
</div>